.DeckWrapper-deck {
    text-align: center;
}

button {
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: slateblue;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    height: 60px;
    width: 180px;
    font-size: large;
}